<div class="register">

  <div>
    <div>
      <span>Role</span>
      <select name="Role" [(ngModel)]="privateUserInfo.role">
        <option [ngValue]="role" *ngFor="let role of roles">{{role.value}}</option>
      </select>
    </div>
  </div>
  <!-- user's email -->
  <div>
    <div>
      <span>Email</span>
    </div>
    <input type="text" [(ngModel)]="privateUserInfo.email">
  </div>

  <!--Username MUST be unique-->
  <div>
    <span id="usernameAlert" style="color:red"></span>
    <div>
      <span>Username</span>
    </div>
    <input type="text" [(ngModel)]="magicalUser.username" (blur)="usernameIsUnique()">
    <span *ngIf="showUsernameAlert" style="color:red">This username is not available.</span>
  </div>

  <!-- Password -->
  <div>
    <div>
      <span>Password</span>
      <span>Confirm Password</span>
    </div>
    <input type="password" [(ngModel)]="magicalUser.password" (keyup)="!passwordsMatch()">
    <input type="password" [(ngModel)]="confirmPassword" (keyup)="!passwordsMatch()">
    <span *ngIf="showPasswordAlert" style="color:red">These passwords do not match.</span>
  </div>

  <div>
    <div>
      <span>First Name</span>
    </div>
    <input type="text" [(ngModel)]="privateUserInfo.firstName">
    <div>
      <span>Last Name</span>
    </div>
    <input type="text" [(ngModel)]="privateUserInfo.lastName">
  </div>

  <div>
    <div>
      <span>Address</span>
    </div>
    <input type="text" [(ngModel)]="privateUserInfo.address">
  </div>

  <div>
    <div>
      <span>State City</span>
    </div>
    <div>
      <div #statediv>
        <app-state></app-state>
      </div>
      <div #citydiv>
        <app-city></app-city>
      </div>
    </div>

  </div>

  <div>
    <span>Phone Number</span>
    <input type="text" [(ngModel)]="privateUserInfo.phoneNumber">
  </div>

  <div>
    <input type="button" value="Register" (click)="register()">
  </div>

</div>

<a href="home">Back</a>