<div class="register">
  <div *ngIf="!usernameIsUnique">
    <span id="formMessage" style="color:red">This username is not available.</span>
  </div>

  <!-- user's email -->
  <div>
    <div><span>Email</span></div>
    <input type="text" [value]=privateUserInfo.email required>
  </div>

  <!--Username MUST be unique-->
  <div>
    <span id="usernameAlert" style="color:red"></span>
    <div><span>Username</span></div>
    <input type="text" [value]=magicalUser.username required>
  </div>

  <!-- Password -->
  <div>
    <div><span>Password</span><span>Confirm Password</span></div>
    <input type="password" [value]=magicalUser.password required>
    <input type="Confirm password" [value]=magicalUser.password required>
  </div>

  <div>
    <div><span>First Name</span></div>
    <input type="text" [value]=privateUserInfo.firstName required>
    <div><span>Last Name</span></div>
    <input type="text" [value]=privateUserInfo.lastName required>
  </div>

  <div>
    <div><span>Address</span></div>
    <input type="text" [value]=privateUserInfo.address required>
  </div>

  <div>
    <div><span>State</span></div>
    <app-statelist></app-statelist>
  </div>

  <div>
    <span>Phone Number</span>
    <input type="text" [value]=privateUserInfo.phoneNumber required>
  </div>

  <div>
    <input type="button" value="Register" (click)=register()>
  </div>

</div>

<a href="home">Back</a>