<div>
  <!-- The value showin for the values are just dummy values I may create a model for user
    (adept/apprentice/wizard) in the mean time  -->
  <div>
      <p>Username: {{userPublic.username}}</p>
      <p>First Name: {{userPublic.fname}}</p>
      <p>Last Name: {{userPublic.lname}}</p>
      <p>Phone: {{userPrivate.phone}}</p>
      <p>Email: {{userPrivate.email}}</p>
      <p>Address: {{userPrivate.address}}</p>
      <p>City: {{userPrivate.city}}</p>
      <p>State: {{userPrivate.state}}</p>
      
  </div>
</div>