<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbarCollapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"> </span> <span class="icon-bar"> </span> <span
						class="icon-bar"> </span>
				</button>
				<a class="navbar-brand" href="#">Merlin</a>
			</div>
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a routerLink="/threads">Threads</a></li>
				</ul>
				<ul *ngIf="isWizard" class="nav navbar-nav">
						<li><a routerLink="/verifyAdepts">Verify Adepts</a></li>
					</ul>
				<ul class="nav navbar-nav">
					<li><a routerLink="/search-adepts">Search For Tutors</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="readonly"><a id="username"
						class="fa fa-user-circle readonly">&nbsp;{{username}}</a></li>
					<li class="dropdown" navdropdown>
					<a class="dropdown-toggle" data-toggle="dropdown">
					 <span class="fa fa-cog"></span>&nbsp;Settings
					 <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li>
								<a routerLink='/profile'>Account</a>
								<hr class="hr-divider">		
							</li>
							<li><a (click)=signout() id="logout">Sign out</a></li>		
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>