<div class="register">
  <table>
      <tr><td id="label">Username</td> <td><input name="username" type="text" required></td></tr>
      <tr><td id="label">Password</td> <td><input name="password" type="text" required></td></tr>
      <tr><td id="label">First Name</td> <td><input name="fname" type="text" required></td></tr>
      <tr><td id="label">Last Name</td> <td><input name="lname" type="text" required></td></tr>
      <tr><td id="label">Phone</td> <td><input name="phone" type="text" required></td></tr>
      <tr><td id="label">E-mail</td> <td><input name="email"  type="email" required></td></tr>
      <tr><td id="label">Address</td> <td><input name="address" type="text" required></td></tr>
      <tr><td id="label">City</td> <td><input name="city" type="text" required></td></tr>
      <tr><td id="label">State</td> <td><input name="state" type="text" required></td></tr>
  </table>       
  <input type="button" value="Login">
</div>