<nav class="navbar">
  <div class="container-fluid">
    <table align="center" >
      <tr>
          <th><a style="text-decoration:none" routerLink="/home">Home</a></th>
          <th><a style="text-decoration:none" routerLink="/sign-in">Sign In</a></th>
          <th><a style="text-decoration:none" routerLink="/register">Register</a></th>
          <th><a style="text-decoration:none" routerLink="/profile">Profile</a></th>
          
      </tr>
    </table>
    <!--<ul>
      <li><a routerLink="/sign-in">Sign In</a></li>
      <li><a routerLink="/register">Register</a></li>
      <li><a routerLink="/profile">Profile</a></li>
    </ul>-->
    <router-outlet></router-outlet>
  </div>

</nav>