<div>
    <hr>
    <p>Hello From search-adepts!</p>
    <!--<button (click)=doSomething()>Fetch Adepts</button>-->
</div>
<div>
    <table>
        <thead>
            <th>Name</th>
            <th>Index</th>
        </thead>
        <tbody>
            <tr *ngFor="let hero of heroes">
                <td>{{hero.name}}</td>
                <td>{{hero.id}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <table>
        <thead>
            <th>Username</th>
        </thead>
        <tbody>
            <tr *ngFor="let adept of Adepts">
                <td>{{adept.username}}</td>
            </tr>
        </tbody>
    </table>
</div>
<p><a href="home">Back</a></p>