<div class="container">
  <form>
  <div class="row">
    <div class="text-right col-lg-5">
      <div class="row"><input [(ngModel)]="user.username" name="username" type="text" placeholder="Username"></div>
      <div class="row"><input [(ngModel)]="user.password" name="password" type="password" placeholder="Password"></div>
      <div class="row"><input id="login" type="button" value="Login" (click)=userLogin()></div>
    </div>
    <div class="text-left col-lg-5">
      <app-register></app-register>
    </div>
  </div>
  </form>
</div>